# MAP 433 - DM2

## *Groupe 43 : WANG XIAOZHEN & LAHIANI MAZIGH & CHEN YUNHAO*

In [40]:
import numpy as np
import pandas as pd
import statsmodels.api as sm

## Préambule:

On traite d'abord des données en éliminant les variables inutiles et en introduisant les variables "muettes".

In [2]:
dataset = pd.read_csv ('./Titanic.csv', delimiter=",")

In [3]:
dataset.head(5) #les 5 permières lignes

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
#On conserve seulement les variables utiles pour l'analyse
dataset_s = pd.DataFrame(dataset,columns = ["Survived","Pclass", "Name", "Sex", "Age", "SibSp", "Parch", "Fare"])
dataset_s.head(5) #les 5 permières lignes

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Fare
0,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,7.2500
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,71.2833
2,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,7.9250
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,53.1000
4,0,3,"Allen, Mr. William Henry",male,35.0,0,0,8.0500

In [5]:
#On introduit les variables "muettes"
dataset_m = pd.get_dummies(dataset_s, columns = ['Sex', 'Pclass'])
dataset_m.head(5) #les 5 permières lignes

,Survived,Name,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Pclass_1,Pclass_2,Pclass_3
0,0,"Braund, Mr. Owen Harris",22.0,1,0,7.2500,0,1,0,0,1
1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",38.0,1,0,71.2833,1,0,1,0,0
2,1,"Heikkinen, Miss. Laina",26.0,0,0,7.9250,1,0,0,0,1
3,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",35.0,1,0,53.1000,1,0,1,0,0
4,0,"Allen, Mr. William Henry",35.0,0,0,8.0500,0,1,0,0,1

## Question 1.

In [6]:
dataset["Survived"].value_counts()

0    549
1    342
Name: Survived, dtype: int64

In [73]:
print(f"Nombre de passagers décédés est 549. La proportion est {549/891:.2%}")

Nombre de passagers décédés est 549. La proportion est 61.62%

## Question 2.

In [8]:
print(dataset_s.groupby(["Survived", "Sex"])["Name"].count().reset_index(name="count"))
print("[Le nombre d'hommes et de femmes parmi les personnes décédées et les survivants]")

   Survived     Sex  count
0         0  female     81
1         0    male    468
2         1  female    233
3         1    male    109
[Le nombre d'hommes et de femmes parmi les personnes décédées et les survivants]

| Pourcentage        | Homme | Femme |   
| ------------------ | ----- | ------| 
| Personnes décédées | 85.2% | 14.8% | 
| Survivants         | 31.9% | 68.1% |

On peut remarquer que les personnes décédées sont notamment les hommes et plus de moitié des survivants sont des femmes. 

On peut imaginer que les hommes ont respecté le principe "lady first" et ont laissé la chance de survivre aux femmes.

## Question 3.

In [9]:
print(dataset_s.groupby(["Survived", "Pclass"])["Name"].count().reset_index(name="count"))
print("[Le nombre de personnes décédées et des survivants par classe]")

   Survived  Pclass  count
0         0       1     80
1         0       2     97
2         0       3    372
3         1       1    136
4         1       2     87
5         1       3    119
[Le nombre de personnes décédées et des survivants par classe]

| Pourcentage        | 1st classe | 2nd classe | 3rd classe |  
| ------------------ | ---------- | -----------| -----------|
| Personnes décédées |     14.6%  |   17.7%    |    67.8%   |
| Survivants         |     39.8%  |   25.4%    |    34.8%   |

On peut remarquer que les passagers de 1ère classe compte un plus haut pourcentage (39.8%) que ceux de 3ère classe (34.8%) alors que les passagers de 1ère classe (216 personnes) sont moins nombreux que ceux de 3ère classe (491 personnes).

On peut imaginer que cela est dû au fait que les passagers de 1ère classes étaient plus privilégiés lorsque du sauvetage.

## Question 4.

In [10]:
dataset_m.corr()

,Survived,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Pclass_1,Pclass_2,Pclass_3
Survived,1.000000,-0.077221,-0.035322,0.081629,0.257307,0.543351,-0.543351,0.285904,0.093349,-0.322308
Age,-0.077221,1.000000,-0.308247,-0.189119,0.096067,-0.093254,0.093254,0.348941,0.006954,-0.312271
SibSp,-0.035322,-0.308247,1.000000,0.414838,0.159651,0.114631,-0.114631,-0.054582,-0.055932,0.092548
Parch,0.081629,-0.189119,0.414838,1.000000,0.216225,0.245489,-0.245489,-0.017633,-0.000734,0.015790
Fare,0.257307,0.096067,0.159651,0.216225,1.000000,0.182333,-0.182333,0.591711,-0.118557,-0.413333
Sex_female,0.543351,-0.093254,0.114631,0.245489,0.182333,1.000000,-1.000000,0.098013,0.064746,-0.137143
Sex_male,-0.543351,0.093254,-0.114631,-0.245489,-0.182333,-1.000000,1.000000,-0.098013,-0.064746,0.137143
Pclass_1,0.285904,0.348941,-0.054582,-0.017633,0.591711,0.098013,-0.098013,1.000000,-0.288585,-0.626738
Pclass_2,0.093349,0.006954,-0.055932,-0.000734,-0.118557,0.064746,-0.064746,-0.288585,1.000000,-0.565210
Pclass_3,-0.322308,-0.312271,0.092548,0.015790,-0.413333,-0.137143,0.137143,-0.626738,-0.565210,1.000000

Remarques:
1. on observe, comme dans la question 2 qu'il y a une corrélation importante entre le fait d'être une femme et avoir survécu.
2. on observe aussi, comme dans la question 3, que les passagers 1ère classes ont davantage survécu.

## Question 5.

In [82]:
#traitement des données: remplacer les âges manquantes par la moyenne des âges
meanAge=dataset_m['Age'].mean()
dataset_m=dataset_m.fillna(value={'Age': meanAge})
dataset_m['intercept'] = 1.0 #ajouter intercept 
cols = ['Age','SibSp','Parch','Fare','Sex_female','Pclass_1','Pclass_2','intercept']

In [83]:
logit = sm.Logit(dataset_m['Survived'], dataset_m[cols])
result = logit.fit()

Optimization terminated successfully.
         Current function value: 0.442576
         Iterations 6

In [84]:
#regarder le résumé du résultat
print(result.summary())

                           Logit Regression Results
==============================================================================
Dep. Variable:               Survived   No. Observations:                  891
Model:                          Logit   Df Residuals:                      883
Method:                           MLE   Df Model:                            7
Date:                Wed, 14 Oct 2020   Pseudo R-squ.:                  0.3354
Time:                        21:56:35   Log-Likelihood:                -394.34
converged:                       True   LL-Null:                       -593.33
Covariance Type:            nonrobust   LLR p-value:                 6.452e-82
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Age           -0.0395      0.008     -5.035      0.000      -0.055      -0.024
SibSp         -0.3501      0.110     -3.194      0.001      -0.565      -0.135
Parch         -0.1133      0.118     -0.964      0.335      -0.344       0.117
Fare           0.0030      0.002      1.223      0.221      -0.002       0.008
Sex_female     2.7609      0.199     13.856      0.000       2.370       3.151
Pclass_1       2.1499      0.290      7.423      0.000       1.582       2.718
Pclass_2       1.1268      0.227      4.954      0.000       0.681       1.573
intercept     -1.0699      0.261     -4.095      0.000      -1.582      -0.558
==============================================================================

Les intervalles de confiance à 95% sont données en dessus.

## Question 6.

In [29]:
p_value = result.pvalues.loc['Parch']
print(f"La p-valeur du test est {p_value:.2f}")

La p-valeur du test est 0.34

Conclusion: la p-valeur de ce test est assez grand, ce qui veut dire qu'on ne peut pas rejeter l'hypothèse nulle.

## Question 7.

In [80]:
cols2 = ["Age","SibSp","Fare","Sex_female","Pclass_1","Pclass_2",'intercept']

logit2 = sm.Logit(dataset_m['Survived'], dataset_m[cols2])
result2 = logit2.fit()

Optimization terminated successfully.
         Current function value: 0.443106
         Iterations 6

In [81]:
print(result2.summary())

                           Logit Regression Results
==============================================================================
Dep. Variable:               Survived   No. Observations:                  891
Model:                          Logit   Df Residuals:                      884
Method:                           MLE   Df Model:                            6
Date:                Wed, 14 Oct 2020   Pseudo R-squ.:                  0.3346
Time:                        21:47:07   Log-Likelihood:                -394.81
converged:                       True   LL-Null:                       -593.33
Covariance Type:            nonrobust   LLR p-value:                 1.210e-82
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Age           -0.0392      0.008     -5.013      0.000      -0.055      -0.024
SibSp         -0.3783      0.106     -3.561      0.000      -0.587      -0.170
Fare           0.0025      0.002      1.066      0.286      -0.002       0.007
Sex_female     2.7245      0.195     13.981      0.000       2.343       3.106
Pclass_1       2.1818      0.287      7.614      0.000       1.620       2.743
Pclass_2       1.1325      0.227      4.980      0.000       0.687       1.578
intercept     -1.0906      0.260     -4.192      0.000      -1.600      -0.581
==============================================================================

## Question 8.

In [47]:
p_value2 = result2.pvalues.loc['Fare']
print(f"La p-valeur du test est {p_value2:.2f}")

La p-valeur du test est 0.29

Conclusion: la p-valeur de ce test est assez grand, ce qui veut dire qu'on ne peut pas rejeter l'hypothèse nulle.

## Question 9.

In [48]:
cols3 = ["Age","SibSp","Sex_female","Pclass_1","Pclass_2",'intercept']

logit3 = sm.Logit(dataset_m['Survived'], dataset_m[cols3])
result3 = logit3.fit()

Optimization terminated successfully.
         Current function value: 0.443793
         Iterations 6

In [49]:
print(result3.summary())

                           Logit Regression Results
==============================================================================
Dep. Variable:               Survived   No. Observations:                  891
Model:                          Logit   Df Residuals:                      885
Method:                           MLE   Df Model:                            5
Date:                Wed, 14 Oct 2020   Pseudo R-squ.:                  0.3336
Time:                        20:32:27   Log-Likelihood:                -395.42
converged:                       True   LL-Null:                       -593.33
Covariance Type:            nonrobust   LLR p-value:                 2.366e-83
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Age           -0.0399      0.008     -5.111      0.000      -0.055      -0.025
SibSp         -0.3583      0.104     -3.437      0.001      -0.563      -0.154
Sex_female     2.7402      0.194     14.110      0.000       2.360       3.121
Pclass_1       2.3478      0.243      9.668      0.000       1.872       2.824
Pclass_2       1.1580      0.227      5.109      0.000       0.714       1.602
intercept     -1.0606      0.259     -4.100      0.000      -1.568      -0.554
==============================================================================

## Question 10.

In [85]:
Xt=np.array([[22,0,0,1,0,1],[22,0,1,1,0,1]])
Y = result3.predict(Xt)
print(Y)

[0.60119496 0.9589349 ]

In [91]:
print(f"La probabilité de survie d'un homme âgé de 22 ans sans famille et en 1ère classe est {Y[0]:.4f}")
print(f"La probabilité de survie d'une femme âgée de 22 ans sans famille et en 1ère classe est {Y[1]:.4f}")

La probabilité de survie d'un homme âgé de 22 ans sans famille et en 1ère classe est 0.6012
La probabilité de survie d'une femme âgée de 22 ans sans famille et en 1ère classe est 0.9589

Ce résultat correspond bien à ce qu'on a analysé dans les questions 2, 3, 4. 

Le fait qu'être une femme et en 1ère classe donne une grande chance de survivre, soit 0.95 

Et puisque les hommes ont donné des privilèges aux femmes lorsque du sauvetage, la probabilité de survie d'un homme en 1ère classe tombe au 0.6, qui est plus basse que celle d'une femme en 1ère classe.